<div class="card" *ngFor="let item of lista_publicacion">
    <div class="row">
    <div class="col-2">
        <img class="img-thumbnail" style="width: 100%; height: 60px;" [src]="item.url_imagen">
    </div>
    <div class="col-10">
        <div class="row">
            {{item.fecha}}
        </div>
        <div class="row">
            {{item.nombre}}
        </div>
    </div>
</div>
<div class="row p-4">
    <img class="rounded" style="width: 100%; height: 300px;" [src]="item.imagen_pl">
    <p class="text-justify" style="width: 100%;">{{item.contenido}}</p>
    <div *ngIf="item.contenido !== ''; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
        <button class="btn btn-link"> Traducir</button>
    </ng-template>
    <ng-template #elseBlock></ng-template>
</div>
</div>
